

.buttonBuy{
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: white;
    background-color: #0b5cf3;
    border: none;
    padding: 15px 15px ;
    text-align: center;
    
    font-size: 16px;
    text-decoration: none; 
}
.product{
    border-radius: 50px;
}
.cartHead{
    border-radius: 50px;
}
.minus{
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: white;
    background-color: #0b5cf3;
    border: none;
    padding: 15px 15px ;
    text-align: center;
    display: flex;
    font-size: 16px;
    text-decoration: none; 
}
.delete{
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: white;
    background-color: #0b5cf3;
    border: none;
    padding: 15px 15px;
    text-align: center;
    display: flex;
    font-size: 16px;
    text-decoration: none;
}
.plus{
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    border-radius: 50px;
    color: white;
    background-color: #0b5cf3;
    border: none;
    padding: 15px 15px;
    text-align: center;
    display: flex;
    font-size: 16px;
    text-decoration: none;
}

.buttProduct{
    border-radius: 50px;
    color: white;
    background-color: #0b5cf3;
    border: none;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
}
.container {
    background-image: url("./img/1616593061_50-p-fon-gradient-temnii-52.jpg");
    background-size: auto;
    margin-top: 3px;
    min-width: 1000px;
    margin:auto;
    padding-bottom:60px;
}
div.header {
    margin-top: 0px;
    padding-top:0px;
    text-align: center;
    height: 15%;
    color:white;
    
}
h1.header {
    padding-top: 3%;
    font-size: 50px;
}
.box {
    display: flex;
    flex-direction: row;
    position: sticky;
}
.product {
    width:25%;
    background-color: white;
    text-align:center;
    
    margin:20px;
    border:1px solid black;
    padding-left:8px;
    padding-right:8px;

}
.buttProduct {
    margin-top: 8px;
    margin-bottom: 10px;
}
.cart {
    background-color: white;
    text-align:center;
    margin-right:40px;
    margin-left:40px;
}
.cartHead {
    background-color: white;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}
.buy {
    margin-bottom: 30px;
    margin-top: 15px;
    text-align: center;
}
